@section template{
<template id="app-main">
    <div class="wln-layout">
        <div class="wln">
            <div>
                来访时间：<el-date-picker v-model="times" :editable="false" type="daterange" value-format="timestamp" format="yyyy-MM-dd" range-separator=" - " :picker-options="pickerOptions" placeholder="请选择筛选时段" style="width:270px;"></el-date-picker>
                关键词：<el-input v-model="key" placeholder="手机号" style="width:300px" @@keydown.enter.native="refresh"></el-input>
                <el-button type="primary" v-on:click="refresh">筛选</el-button><el-button type="primary" v-on:click="toAdd" icon="el-icon-plus">发起申报</el-button>
            </div>
            <div class="wln-line"></div>
            <el-table :data="rows" :empty-text="message">
                <el-table-column type="expand">
                    <template scope="scope">
                        <el-form label-position="right" inline class="wln-table-expand">
                            <div>
                                <div class="wln-expand-title">议题内容</div>
                                <div class="wln-expand-remark"><font v-if="scope.row.content">{{scope.row.content}}</font><font v-else style="color:#999999">未填写议题内容</font></div>
                                <div class="wln-expand-title">参会成员</div>
                                <div class="wln-expand-remark"><font v-if="scope.row.participant">{{scope.row.participant}}</font><font v-else style="color:#999999">未选择参会成员</font></div>
                                <div class="wln-expand-title">议题资料</div>
                                <div class="wln-expand-remark">
                                    <font v-if="scope.row.files.length == 0" style="color:#999999">未上传议题资料</font>
                                    <div class="wln-expand-downitem" v-for="file in scope.row.files">
                                        <i class="el-icon-paperclip"></i><a :href="file.link" target="_blank">{{file.name}}</a>
                                    </div>
                                </div>
                            </div>
                        </el-form>
                    </template>
                </el-table-column>
                <el-table-column width="90" align="center" label="流程状态">
                    <template scope="scope">
                        <el-tag size="mini" type="warning" v-if="scope.row.state < 0">暂未提交</el-tag>
                        <el-tag size="mini" type="primary" v-else-if="scope.row.state==2">审批通过</el-tag>
                        <el-tag size="mini" type="danger" v-else-if="scope.row.state==3">审批被拒</el-tag>
                        <el-tag size="mini" type="success" v-else>等待审批</el-tag>
                    </template>
                </el-table-column>
                <el-table-column align="left" label="议题名称" property="title"></el-table-column>
                <el-table-column width="168" align="center" label="申报部门" property="department"></el-table-column>
                <el-table-column width="168" align="center" label="录入时间" property="create"></el-table-column>
                <el-table-column width="210" align="center">
                    <template scope="scope">
                        <el-button v-if="scope.row.flow" size="mini" type="success" icon="el-icon-view" @@click="toView(scope.row.flow)">查看审批详情</el-button>
                        <template v-else>
                            <el-button size="mini" type="warning" @@click="toApply(scope.row.id)">提交审批</el-button>
                            <el-button size="mini" type="primary" @@click="toEdit(scope.row.id)">编辑</el-button>
                            <el-button size="mini" type="info" @@click="toDel(scope.row.id)">删除</el-button>
                        </template>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination @@current-change="pageset" layout="total, prev, pager, next, jumper" :current-page="page" :page-size="size" :total="total"></el-pagination>
        </div>
        <div class="wln-mask-layout" v-if="mask">
            <div class="wln-mask-body" style="width:700px;margin-top:5%;">
                <div class="wln-mask-head">议题内容</div>
                <el-form ref="form" v-model="form" label-width="120px">
                    <el-form-item label="议题名称">
                        <el-input v-model="form.title" placeholder="" style="width:500px"></el-input>
                    </el-form-item>
                    <el-form-item label="审议内容">
                        <el-input type="textarea" v-model="form.content" rows="3" style="width:500px"></el-input>
                    </el-form-item>
                    <el-form-item label="议题资料">
                        <el-upload :file-list="files" action="/upload" accept=".pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.zip,.rar" multiple style="width:500px"
                                   :on-preview="handlePreview"
                                   :on-remove="handleRemove"
                                   :on-change="handleChange"
                                   :before-remove="beforeRemove">
                            <el-button size="mini" type="primary">点击上传</el-button> <span class="el-upload__tip">只能上传pdf/doc/docx/xls/xlsx/ppt/pptx/zip/rar文件，且不超过20M</span>
                        </el-upload>
                    </el-form-item>
                    <el-form-item label="列席成员">
                        <div style="width:500px;margin-bottom:9px">
                            <ding-contact ref="contact" :data="participants" v-on:change="contactChange" title="选择内部成员" btn-text="选择内部成员"></ding-contact>
                        </div>
                        <el-input type="textarea" v-model="form.participantothers" rows="2" style="width:500px" placeholder="其它成员、部门（请直接填写）"></el-input>
                    </el-form-item>
                    <el-form-item label="申报部门">
                        <el-select v-model="form.department" filterable allow-create>
                            <el-option v-for="item in departments" :key="item.id" :value="item.name" :label="item.name"></el-option>
                        </el-select>
                        &nbsp;&nbsp;&nbsp;&nbsp;预计时长：<el-input v-model="form.duration" style="width:80px"></el-input> 分钟
                    </el-form-item>
                    <el-form-item>
                        <el-button size="small" icon="el-icon-finished" type="primary" v-on:click="doSubmit('apply')">保存并提交审批</el-button>
                        <el-button size="small" icon="el-icon-check" type="primary" v-on:click="doSubmit('save')">仅保存</el-button>
                        <el-button size="small" icon="el-icon-close" v-on:click="close">取消</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>

        <div class="wln-mask-layout" v-if="view.mask" v-on:click="close">
            <div class="wln-mask-form" style="width:480px;" v-on:click.stop="void(0)">
                <iframe v-if="view.url" :src="view.url" frameborder="0" scrolling="auto" style="position:absolute;width:100%;height:100%;overflow:auto"></iframe>
            </div>
        </div>
        <ding-contact ref="select" v-on:change="dingSelectChange" title="请选择执行人员"></ding-contact>
    </div>
</template>
}
@section script{
<script src="/js/dingContact.js"></script>
<script type="text/javascript">
    let id =0
    var vpath = "/@ViewBag.Action";
    var form = { id: '', title: '', content: '', files: '', duration: '', department: '', participant: '', participantnames: '', participantothers: '' }
    var appMain = Vue.extend({
        template: '#app-main',
        data: function () {
            ds.mask = false
            ds.form = {}
            ds.view = { mask: false,url:'' }
            ds.files = []
            ds.times = []
            ds.participants = []
            ds.departments = []
            ds.pickerOptions = {
                shortcuts: [
                { text: '昨天', onClick(picker) { picker.$emit('pick', [new Date('@ViewBag.Yeserday'), new Date('@ViewBag.Yeserday')]) } },
                { text: '今天', onClick(picker) { picker.$emit('pick', [new Date('@ViewBag.Today'), new Date('@ViewBag.Today')]) } },
                { text: '本月', onClick(picker) { picker.$emit('pick', [new Date('@ViewBag.MonthStart'), new Date('@ViewBag.MonthEnd')]) } },
                { text: '本季度', onClick(picker) { picker.$emit('pick', [new Date('@ViewBag.QuarterStart'), new Date('@ViewBag.QuarterEnd')]) } },
                { text: '本年度', onClick(picker) { picker.$emit('pick', [new Date('@ViewBag.YearStart'), new Date('@ViewBag.YearEnd')]) } },
                { text: '上月', onClick(picker) { picker.$emit('pick', [new Date('@ViewBag.PrevMonthStart'), new Date('@ViewBag.PrevMonthEnd')]) } },
                { text: '上季度', onClick(picker) { picker.$emit('pick', [new Date('@ViewBag.PrevQuarterStart'), new Date('@ViewBag.PrevQuarterEnd')]) } },
                { text: '上年度', onClick(picker) { picker.$emit('pick', [new Date('@ViewBag.PrevYearStart'), new Date('@ViewBag.PrevYearEnd')]) } }]
            }
            for (var i in form) { ds.form[i] = form[i] };
            ds.tempid = '';
            return ds
        },
        methods: {
            pager() {
                let t = this;
                get(location.pathname + '?do=pager', { page: t.page, size: t.size, mobile: t.filter_mobile, key: t.key, start: t.times.length == 2 ? t.times[0] : 0, end: t.times.length == 2 ? t.times[1] : 0 }).then(res => {
                    t.message = res.message;
                    t.total = res.total;
                    t.page = res.page;
                    t.rows = res.rows;
                });
            },
            refresh() {
                this.total = 0
                this.page = 0
                this.rows = []
                this.pager()
            },
            pageset(val) {
                this.page = val;
                this.pager();
            },
            close() {
                this.mask = false
                this.view.mask = false
            },
            contactChange(val) {
                this.participants = val
            },
            dingSelectChange(val) {
                this.doApply(val.map(i => i.value).join())
            },
            loadDepartment() {
                if (this.departments.length === 0) {
                    asyncGet('/dingtalk/departments').then(res => {
                        this.departments = res;
                    })
                }
            },
            toAdd() {
                let t = this
                t.mask = true
                t.files = []
                t.participants = []
                t.loadDepartment()
                for (var i in form) { t.form[i] = form[i] };
            },
            toDel(id) {
                let t = this;
                Vue.prototype.$confirm('您正在删除所选议题申报, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    post(location.pathname + '?do=del', { id: id }).then(res => {
                        t.refresh()
                        Vue.prototype.$message({ type: res.success ? 'success' : 'error', message: res.message })
                    })
                }).catch(() => {
                    Vue.prototype.$message({ type: 'info', message: '操作已取消' })
                })
            },
            toEdit(id) {
                let t = this
                t.mask = true
                t.files = []
                t.participants = []
                t.loadDepartment()
                for (var i in form) { t.form[i] = form[i] };
                post(location.pathname + '?do=get', {id:id}).then(res => {
                    if (res.success) {
                        t.mask = true
                        t.files = JSON.parse(res.files)
                        for (var i in form) { t.form[i] = res[i] };

                        let _value = t.form.participant.split(',');
                        let _names = t.form.participantnames.split(',');
                        if (_value.length == _names.length) {
                            for (var i = 0; i < _value.length; i++) {
                                t.participants.push({ value: _value[i], label: _names[i] })
                            }
                        }
                    } else {
                        Vue.prototype.$message({ type: res.success ? 'success' : 'error', message: res.message })
                    }
                })
            },
            toView(flow) {
                this.view.mask = true
                this.view.url = '/mobile/flow/' + flow
            },
            toApply(id) {
                let t = this;
                t.tempid = id;
                Vue.prototype.$confirm('您正在将当前议题提交审批, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    t.doApply()
                }).catch(() => {
                    Vue.prototype.$message({ type: 'info', message: '操作已取消' })
                })
            },
            doApply(userids) {
                post(location.pathname + '?do=apply', { id: this.tempid, userids: userids }).then(res => {
                    if (res.success) {
                        this.pager()
                        Vue.prototype.$message({ type: res.success ? 'success' : 'error', message: res.message })
                    } else if (res.message == 'select') {
                        this.$refs.select.show()
                    } else {
                        Vue.prototype.$message({ type: res.success ? 'success' : 'error', message: res.message })
                    }
                })
            },
            doSubmit: function (to) {
                let t = this
                let files = [];
                for (let i = 0; i < t.files.length; i++) {
                    let file = t.files[i];
                    if (file.url) {
                        files.push({ name: file.name, url: file.url });
                    } else if (file.response && file.response.url) {
                        files.push({ name: file.name, url: file.response.url });
                    }
                }
                t.form.to = to;
                t.form.files = JSON.stringify(files);
                t.form.participant = t.participants.map(i => i.value).join();
                t.form.participantnames = t.participants.map(i => i.label).join();
                post(location.pathname + '?do=set', t.form).then(res => {
                    Vue.prototype.$message({ type: res.success ? 'success' : 'error', message: res.message })
                    if (res.success) {
                        t.mask = false
                        t.pager()
                    }
                })
            },
            handleChange(file, fileList) {
                this.files = fileList
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            beforeRemove(file, fileList) {
                return this.$confirm(file.name, '确定删除？');
            }
        }, created() {
            this.refresh()
        }
    })
    new Vue({
        el: '#app', router: new VueRouter({
            mode: 'history', routes: [
                { path: vpath, component: appMain }
            ]
        })
    });
</script>
}